<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user, options = { size: 120 }%>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>